[Unit]
Description=Mirror state
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/Firebase/SmartMirror/mirrorState.sh
Restart=on-abort
User=pi
Group=pi

[Install]
WantedBy=multi-user
